%h1 Listing phones

%table.table
  %tr
    %th Company
    %th Model
    %th Quantity
    %th Memory
    %th Color
    %th Remarks
    %th Purchase price
    %th
    %th
    %th

  - @phones.each do |phone|
    %tr
      %td= phone.company
      %td= phone.model
      %td= phone.quantity
      %td= phone.memory
      %td= phone.color
      %td= phone.remarks
      %td= phone.purchase_price
      %td= link_to 'Show', phone
      %td= link_to 'Edit', edit_phone_path(phone)
      %td= link_to 'Destroy', phone, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
%table{:style=>"width:100% !important;"}
  %tr
    %td{:style=>"width:70%;"}
    %td{:style=>"width:30%;"}
      = link_to 'Add New Phone', new_phone_path,:class=>"btn btn-primary btn-success"
