.admin-customer-table-title
  %h2 Phones
  %br
  %input#phones-srch.form-control{placeholder: "Search Phones", type: "text"}
  %a{"href" =>new_phone_path ,:type=>"button", :class=>"btn btn-success top-right"}
    %span.glyphicon.glyphicon-plus
    Add New

.new-customer-order-popup-table.menu-catagories-table.table-responsive
  %table.table#phones
    %thead
      %tr
        %th Company
        %th Model
        %th IMEI#
        %th Memory
        %th Color
        %th Remarks
        %th Purchase price
        %th{:style=> "min-width: 190px;"}
    %tbody
      - @imeis.each do |imei|
        - phone=imei.phone
        %tr
          %td= phone.company
          %td= phone.model
          %td= imei.imei_num
          %td= phone.memory
          %td= phone.color
          %td= phone.remarks
          %td= phone.purchase_price
          %td
            = link_to 'Edit', edit_phone_path(phone),:class=>'btn btn-warning'
            = link_to 'Delete', phone, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>'btn btn-danger',:style=>"color:white"

%br

:javascript
  phone=$("#phones").dataTable({ sDom: "tp","aoColumnDefs": [
      { "bSortable": false, "aTargets": [7] }]});
  $("#phones-srch").keyup(function(){
    
    phone.fnFilter($(this).val());
    });