<div class="row-fluid">
  <div class="container-fluid">
    <div class="login-form-div">
      <label>Welcome To Bell Inventory System</label>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin', :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control text',placeholder: "E-mail", :required=>true %>
      <%= f.password_field :password, class: 'form-control text', placeholder: "Password",:required => true ,:minlength=>8%>
      <%= f.submit 'Log in', :class => 'btn btn-lg btn-primary btn-block' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>
  <% end %>
      
    </div>
  </div>
</div>
<footer>
  <div class="container">
  <div class="footer-links"><a href="javascript:;">Terms & Privacy</a><a href="javascript:;">Forgot your password?</a></div>
    <p>Copyright © Bell Mobility 2014 All rights reserved </p>
    
  </div>
</footer>
