.admin-customer-table-title
  %h2 Recievers
  %br
  %input#reciever-srch.form-control{placeholder: "Search Recievers", type: "text"}
  %a{"href" =>new_reciever_path ,:type=>"button", :class=>"btn btn-success top-right"}
    %span.glyphicon.glyphicon-plus
    Add New

.new-customer-order-popup-table.menu-catagories-table.table-responsive
  %table.table#recievers
    %thead
      %tr
        %th Model
        %th Reciever num
        %th Recieved from
        %th Remarks
        %th{:style=> "min-width: 190px;"}
    %tbody
      - @recievers.each do |reciever|
        %tr
          %td= reciever.model
          %td= reciever.reciever_num
          %td= reciever.recieved_from
          %td= reciever.remarks
          %td
            = link_to 'Edit', edit_reciever_path(reciever),:class=>'btn btn-warning',:style=>"color:white"
            = link_to 'Delete', reciever, :method => :delete, :data => { :confirm => 'Are you sure?' },:class=>'btn btn-danger',:style=>"color:white"

:javascript
  reciever=$("#recievers").dataTable({ sDom: "tp","aoColumnDefs": [
      { "bSortable": false, "aTargets": [4] }]});

  $("#reciever-srch").keyup(function(){
    
    reciever.fnFilter($(this).val());
    });
